<div class="meio">
    <div class="cabeçario">
        <button class="btn-menu btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            ≡
        </button>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu-links">
                <button class="btn-local" routerLink="/home">Home</button>
                <button class="btn-local" routerLink="/dashboard">Dashboard</button>
            </div>
        </div>
    </div>

    <section class="d-flex gap-3 justify-content-around">
        <div class="card-seletor">
            <h2>Veículo</h2>
            <div class="seletor-corpo">
                <select (change)="aoMudarVeiculo($event)" class="form-select">
                    @for (item of listaVeiculos; track item.id) {
                    <option [value]="item.vehicle">{{ item.vehicle }}</option>
                    }
                </select>
            </div>
        </div>

        <app-card titulo="Volume Total" [valor]="veiculoSelecionado?.volumetotal"></app-card>
        <app-card titulo="Conectados" [valor]="veiculoSelecionado?.connected"></app-card>
        <app-card titulo="Atualizações" [valor]="veiculoSelecionado?.softwareUpdates"></app-card>
    </section>

    <section>
        @if (veiculoSelecionado) {
        <img [src]="veiculoSelecionado.img" [alt]="veiculoSelecionado.vehicle">
        }
    </section>

    <section>
        <table class="mt-2 table table-hover text-center align-middle">
            <thead>
                <tr>
                    <th class="p-3">VIN</th>
                    <th class="p-3">ODÔMETRO</th>
                    <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
                    <th class="p-3">STATUS</th>
                    <th class="p-3">LAT</th>
                    <th class="p-3">LONG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" [value]="dadosTabela?.vinCodigo || ''"
                            (input)="aoDigitarVin($event)" placeholder="Filtrar VIN...">
                    </td>

                    <td>{{ dadosTabela?.odometro ?? '---' }} Km</td>
                    <td>{{ dadosTabela?.nivelCombustivel ?? '---' }} %</td>
                    <td>{{ dadosTabela?.status ?? '---' }}</td>
                    <td>{{ dadosTabela?.lat ?? '---' }}</td>
                    <td>{{ dadosTabela?.long ?? '---' }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>