<div class="meio">
    <div class="cabeçario">

        <button class="btn-menu btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            ≡
        </button>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu-links">
                <button class="btn-local" routerLink="/home">Home</button>
                <button class="btn-local" routerLink="/dashboard">Dashboard</button>
            </div>
        </div>
    </div>

    <section class="d-flex gap-3 justify-content-around">
        <div class="shadow border border-black p-3">
            <h2>Veículos</h2>
            <select>
                <option value="">Ranger</option>
                <option value="">Mustang</option>
                <option value="">Territory</option>
                <option value="">Bronco Sport</option>
            </select>
        </div>

        <app-card />
        <app-card />
        <app-card />
    </section>

    <section>
        <img src="http://localhost:3001/img/ranger.png" alt="">
    </section>

    <section>
        <table class="mt-2 table text-center align-middle">
            <thead>
                <tr>
                    <td class="p-3">VIN</td>
                    <td class="p-3">ODOMETRO</td>
                    <td class="p-3">NIVEL DO COMBUSTÍVEL</td>
                    <td class="p-3">STATUS</td>
                    <td class="p-3">LAT</td>
                    <td class="p-3">LONG</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" placeholder="Filtrar VIN...">
                    </td>
                    <td>80000km</td>
                    <td>90%</td>
                    <td>ON</td>
                    <td>-32.2831</td>
                    <td>14.1625</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>